a, a:visited {
  color: rgba(0, 118, 221, 0.966);
  text-decoration: none;
}

a:hover {
  color: #09f;
}

#main-nav .q-item__section--avatar {
  min-width: 28px;
  padding-right: 12px;
}

#main-nav .q-item--clickable:hover {
  background-color: #ddd;
}

#main-nav .q-item__section--side > .q-icon {
  font-size: 20px;
  color: #555;
}

#main-nav .q-item--active .q-icon {
  color: rgb(24, 131, 202);
}

#main-nav .q-item--active {
  background: rgb(212, 241, 255);
  color:rgb(24, 131, 202);
  font-weight: bold;
}

#main-nav .q-item {
  min-height: 40px;
}

#main-nav .subnav {
  padding-left: 35px;
  box-shadow: inset 2px 0 0 #888;
}
#main-nav .subnav .subnav {
  box-shadow: inset 4px 0 0 #666;
}

#main-nav .subnav .subnav .subnav {
  box-shadow: inset 8px 0 0 #444;
}

.q-btn {
  text-transform: none !important;
}

.custom-select {
  min-width: 150px !important;
}

.q-select .q-field__native {
  position:absolute;
  bottom: -1px;
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cursor-pointer {
  cursor: pointer;
}

.custom-select-popup {
  max-width: 90vw;
  max-height: 50vh;
  overflow-y: auto;
}

.table-without-pagination .q-table__bottom {
  display: none;
}

@media (max-width: 599px) {
  .mobile-no-padding {
    padding: 0 !important; /* No padding for screens smaller than 600px */
  }
}

.filter-bar {
  background: #fff;
  border-bottom: 1px solid #eee;
  padding: 0 !important;
}
